.ipynb_checkpoints
.DS_Store
notebooks/2019-09-ccp-corpus-0.3/2019-09-ccp-corpus-readme.txt
notebooks/2019-09-ccp-corpus-0.3/2019-09-ccp-corpus-toc.csv
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1830.PA-09.20.PHIL.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1831.PA-06.06.PHIL.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1832.PA-06.04.PHIL.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1833.PA-06.03.PHIL.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1834.NY-06.02.NEWY.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1835.PA-06.01.PHIL.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1840.NY-08.18.ALBA.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1840.NY-08.18.ALBA.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1841.ME-10.06.PORT.CAL.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1841.ME-10.06.PORT.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1841.NY-08.25.TROY.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1841.PA-08.23.PITT.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1842.IN-07.17.INDI.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1843.MA-08.03.SALE.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1843.MI-10.26.DETR.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1843.NY-08.15.BUFF.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1843.OH-08.01.COLU.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1844.NY-09.18.SCHE.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1844.OH-09.18.COLU.ADD.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1845.NY-09.08.GENE.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1847.NY-11.06.TROY.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1847.ON-08.01.DRUM.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1848.OH-09.06.CLEV.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1848.PA-12.13.HARR.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1849.CT-09.12.NEWH.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1849.NJ-08.21.TREN.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1849.OH-01.10.COLU.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1850.ME-10.20.PORT.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1850.NY-08.21.CAZE.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1850.OH-01.09.COLU.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1851.IN-08.01.INDI.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1851.IN-08.01.INDI.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1851.NY-07.22.ALBA.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1851.OH-01.15.COLU.ADD.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1851.OH-01.15.COLU.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1851.ON-09.11.TORO.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1852.MD-07.27.BALT.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1852.OH-01.14.CINC.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1853.IL-10.06.CHIC.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1853.NY-07.06.ROCH.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1853.OH-01.19.COLU.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1853.ON-06.16.AMHE.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1854.CT-09.27.MIDD.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1854.MA-01.02.BOST.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1854.NY-01.02.ALBA.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1854.OH-08.24.CLEV.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1855.CA-11.20.SACR.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1855.CT-04-18.HART.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1855.NY-01.20.ALBA.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1855.NY-09.04.TROY.CAL.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1855.PA-10.16.PHIL.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1856.CA-12.09.SACR.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1856.IL-11.13.ALTO.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1856.OH-01.16.COLU.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1857.CA-10.20.SANF.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1857.IA-01.05.MUSC.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1857.OH-01.21.COLU.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1858.MA-08.01.NEWB.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1858.NY-09.14.TROY.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1858.OH-11.23.CINC.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1858.ON-05.08.CHAT.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1859.IN-01.25.INDI.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1859.MA-08.01.BOST.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1863.KS-10.13.LEAV.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1863.NY-07.16.POUG.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1864.NY-10.04.SYRA.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.AR-11.30.LITT.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.CA-10.25.SACR.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.CT-06.06.NEWH.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.CT-06.06.NEWH.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.IN-10.24.INDI.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.LA-01.09.NEWO.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.MA-12.20.BOST.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.MI-09.12.DETR.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.MS-09.18.VICK.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.MS-09.18.VICK.ART.02.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.NC-09.11.NEWB.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.NC-09.29.RALE.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.NC-09.29.RALE.ART.02.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.NC-09.29.RALE.ART.03.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.NC-09.29.RALE.COR.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.NJ-07.13.TREN.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.OH-01.10.XENI.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.OH-10.19.CLEV.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.PA-02.08.HARR.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.PA-09.09.HARR.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.SC-11.20.CHAR.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.TN-08.07.NASH.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.VA-06.05.NORF.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1865.VA-08.02.ALEX.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1866.GA-04.04.AUGU.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1866.GA-10.29.MACO.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1866.IL-04.10.CHIC.ADD.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1866.IL-10.16.GALE.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1866.KS-10.17.LAWR.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1866.KY-03.22.LEXI.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1866.MD-01.01.BALT.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1866.NC-10.02.RALE.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1866.NY-01.01.ALBA.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1866.PA-08.08.PITT.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1866.TN-08.05.NASH.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1867.AL-05.04.MOBI.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1867.DC-01.10.WASH.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1867.DC-01.28.WASH.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1867.OH-01.16.CINC.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1867.PA-01.08.PHIL.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1867.PA-01.08.PHIL.ART.02.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1868.IA-02.12.DESM.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1868.MD-08.05.BALT.ADD.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1868.PA-08.11.WILL.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1869.DC-12.06.WASH.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1869.GA-11.01.MACO.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1869.MD-06.01.BALT.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1869.MN-01.01.STPA.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1869.NY-06.02.BING.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1869.VA-05.27.RICH.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1870.MO-01.19.JEFF.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1870.NY-10.31.SYRA.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1871.KY-01.01.FRAN.ADD.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1871.TN-02.22.NASH.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1872.LA-04.10.NEWO.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1872.NE-04.13.OMAH.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1872.NY-12.13.NEWY.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1872.PA-08-31.HARR.ADD.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1873.DC-12.18.WASH.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1873.DE-01.09.DOVE.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1873.NJ-06.03.NEWB.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1873.TX-07.03.BREN.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1874.TN-04.28.NASH.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1875.OH-08.04.CINC.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1876.SC-07.20.COLU.ADD.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1877.KY-08.22.FRAN.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1879.TN-05.06.NASH.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1879.TX-07.02.HOUS.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1880.TX-02.17.DALL.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1882.KS-04.27.PARS.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1883.AR-08.28.LITT.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1883.KY-09.24.LOUI.ADD.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1883.SC-07.18.COLU.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1883.TX-07.10.AUST.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1884.FL-02.05.GAIN.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1884.PA-04.29.PITT.ADD.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1884.TX-08.06.HOUS.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1885.KY-11.26.LEXI.MIN.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1889.TX-08.20.WACO.ART.01.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1895.TX-05.23.HOUS.ART.O1.txt
notebooks/2019-09-ccp-corpus-0.3/ccprecords/1899.VA-07.19.HAMP.MIN.01.txt
